@model Opus

<div class="picturelink">
    <a asp-page="/Opus" asp-route-id="@Model.ID">
        @if (Model.Kind == Opus.Type.Painting) {
            //TODO add painting
        }
        <h1>@Model.Title</h1>
        <h2>@Model.KindString</h2>
        <h3>@Model.Creator.CommonName</h3>
    </a>
</div>