@import url(navbar.css);
@import url(textstyles.css);
@import url(picturelink.css);
@import url(searchbar.css);

html {
  font-size: 14px;
  position: relative;
  height: 0;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


html,
head,
body {
  border: 0;
  padding: 0;
  margin: 0;
}




div.content {
  max-width: min(70em, 90%);
  margin: auto;
  margin-top: 6rem;
  background-color: white;
  display: flex;
  justify-content: center;
}


img.exhibition {
  max-height: 50rem;
}

hr.separator {
  margin: 2em auto;
  width: 40em;
}




div.contentsplitter {
  margin-top: 2em;
  display: flex;
  justify-content: space-evenly;
}

div.contentsplitter>* {
  max-width: 30em;
  margin: 0 2em;
}

div.contentsplitter>img {
  padding: 1em;
}

