:root {
    --box-width: 13rem;
}

div.picturelink {
    width: var(--box-width);
    border-radius: 0;
    border: 1px solid rgb(194, 194, 194);
    height: fit-content;
    min-height: 8rem;
}

div.picturelink>a {
    text-decoration: none;
    width: inherit;
    height: inherit;
    margin: auto;
}

div.picturelink>a>img {
    width: inherit;
    margin-bottom: -1rem;
}

div.picturelink>a>* {
    font-weight: normal;
    text-align: center;
    font-family: sans-serif;
    margin: 0;
}

div.picturelink>a>h1 {
    color: black;
    font-size: large;
    margin-top: 1.3rem;
}

div.picturelink>a>h2 {
    margin: 0;
    color: rgb(65, 65, 65);
    font-style: italic;
    font-size: small;
}

div.picturelink>a>h3 {
    font-size: medium;
    margin-top: 0.6em;
    color: rgb(65, 65, 65);
    margin-bottom: 0.2rem;
}

div.picturebox {
    margin-top: 2.5rem;
    display: grid;
    justify-content: space-between;
    grid-gap: 2rem 1.4rem;
    grid-template-columns: repeat(auto-fill, var(--box-width));
}


div.largecaptionedpainting>a {
    text-decoration: none;
}

div.largecaptionedpainting>a>p {
    color: rgb(72, 72, 72);
    font-family: sans-serif;
    font-style: italic;
    text-align: center;
    margin: auto;
    text-decoration: none;
}

div.largecaptionedpainting>a>img {
    width: 30em;
}