:root {
    --height: 2.4rem;
    --border-radius: 0.3rem;
}

.leftborder {
    border: darkgray 1px solid;
    border-right: 0;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.centerborder {
    border: darkgray 1px solid;
    border-radius: 0;
    border-right: 0;
}

.rightborder {
    border: darkgray 1px solid;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

div.searchbar {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    height: var(--height);
}

div.searchbar>input {
    max-height: var(--height);
    width: 60%;
    margin: 0;
    font-size: large;
    padding: 0rem 0.6rem;
}
div.searchbar>input::placeholder {
    font-style: italic;
}
div.searchbar>input:focus {
    outline: none;
}

div.searchbar>button.sortingselect {
    /* background-image: url(/favicon-192x192.png); */
    cursor: pointer;
    height: var(--height);
    width: var(--height);
    padding: 0;
    margin: 0;
    font-size: x-large;
}
div.searchbar>button.sortingselect>ul {
    position: absolute;
    z-index: 1;
    padding: 0;
    margin: 0;
}
div.searchbar>button.sortingselect>ul>li {
    outline: gray 1px solid;
    background-color: white;
    font-size: large;
    list-style-type: none;
    margin: 0;
    padding: 0.3rem 0.3rem;
    cursor: pointer;
}