@page
@model ArtistListModel
@{
    ViewData["Title"] = "Künstlerliste";
    ViewData["Description"] = "Eine Liste aller Künstler";
}

<div>
    <div class="picturebox">
    @foreach (Artist art in Model.DbContext.Artists.OrderBy(x => x.Birthday)) {
        <partial name="_ArtistPreview" model="art"/>
    }
    </div>
</div>