@page "/ArtistList"

@inject ApplicationDbContext DbContext

<PageTitle>Künsterliste</PageTitle>

<div>    
    <div class="text">
        <Markdown FileName="artistsIntro.md"/>
    </div>
    <DynamicListPreview FullList="DbContext.Artists.Cast<Data.IDbEntry>().ToList()"/>
</div>