@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1>Welcome</h1>
    @using (var db = ApplicationDbContext.CreateDefault()) {
        foreach (Artist ar in db.Artists) {
            <p>@ar.Surname, @ar.Firstnames, @ar.ID</p>
        }
    }
</div>
