@page
@model IndexModel
@{
    ViewData["Title"] = "Startseite";
    ViewData["Description"] = "Die Startseite des Technecons. Hier erfahren Sie etwas über zahlreiche, auch unbekannte, Künstler und deren Werke. Nehmen Sie sich einen Moment Zeit, unsere umfangreiche Sammlung zu durchstöbern.";
}

<div>
    <h1>Willkommen</h1>
    @using (var db = ApplicationDbContext.CreateDefault()) {
        foreach (Artist ar in db.Artists) {
            <p>@ar.Surname, @ar.Firstnames, @ar.ID</p>
        }
    }
</div>
