@page
@using Microsoft.EntityFrameworkCore
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @using (var db = new ApplicationDbContext()) {
        foreach (Artist ar in db.Artists) {
            <p>@ar.Surname, @ar.Firstnames, @ar.ID</p>
        }
    }
</div>
