@page
@model OpusListModel
@{
    ViewData["Title"] = "Werkeliste";
    ViewData["Description"] = "Eine Liste aller Werke";
}

<div>
        @foreach (Opus op in Model.DbContext.Opera) {
            op.InitalizeWithDbContext(Model.DbContext);
            <a asp-page="/Opus" asp-route-id="@op.ID">@op.Title von @op.Creator.CommonName</a>
        }
</div>