@page
@model OpusListModel
@{
    ViewData["Title"] = "Werkeliste";
    ViewData["Description"] = "Eine Liste aller Werke";
}

<div>
    <div class="picturebox">
        @foreach (Opus op in Model.DbContext.Opera) {
            op.InitalizeWithDbContext(Model.DbContext);
            <partial name="_OpusPreview" model="op"/>
        }
    </div>
</div>