@page "{id:int?}"
@model OpusModel
@{
    Model.Opus.InitalizeWithDbContext(Model.DbContext);
    ViewData["Title"] = Model.Opus.Title;
    ViewData["Description"] = "Lesen Sie mehr über " + ViewData["Title"];
}

<div class="opus">
    @if (Model.Opus.Kind == Opus.Type.Painting)
    {
        //TODO: Painting
    }

    <h1>@Model.Opus.Title</h1>
    <h2>@Model.Opus.Creator.CommonName</h2>
    @if (Model.Opus.HasMarkdown)
    {
        @if (Model.Opus.HasText)
        {
            <div class="poem">
                @foreach (string str in Model.Opus.Text.Split("\n\n"))
                {
                    <p>
                        @foreach (string verse in str.Split("\n"))
                        {
                            @verse
                            <br>
                        }
                    </p>
                }
            </div>
        }
        @if (Model.Opus.HasDescription)
        {
            <hr class="separator" />
            <div class="text">
                <markdown markdown="@Model.Opus.Description" />
            </div>
        }
    }

    <div class="picturebox">
        <partial name="_ArtistPreview" model="@Model.Opus.Creator" />
        @{
            Opus bas = Model.Opus.Base;
            while (bas is not null)
            {
                <partial name="_ArtistPreview" model="bas.Creator" />
                bas = bas.Base;
            }
        }
    </div>
</div>