@page
@model OpusListModel
@{
    ViewData["Title"] = "Werkeliste";
    ViewData["Description"] = "Eine Liste aller Werke, die auf TechneCon geführt werden.";
}

<div>
    <div class="text">
        <markdown>
            # Gesamtübersicht der geführten Werke

            Stöbern Sie ein wenig in unserer ausgedehnten Gallerie! Zurzeit stehen noch keine Sortierfunktionen zur Verfügung, die Suche steht integriert über Strg+F bereit. Wollen Sie mehr über ein bestimmtes Werk erfahren, klicken Sie es einfach an.
        </markdown>
    </div>
    <div class="picturebox">
        @foreach (Opus op in Model.DbContext.Opera.OrderByDescending(x => x.TypeInt)) {
            <partial name="_OpusPreview" model="op"/>
        }
    </div>
</div>