@page "/OpusList"

@inject ApplicationDbContext DbContext

<PageTitle>Werkeliste</PageTitle>

<div>
    <div class="text">
        <Markdown FileName="operaIntro.md"/>
    </div>
    <div class="picturebox">
        @foreach (Data.Opus op in DbContext.Opera.OrderByDescending(x => x.TypeInt)) {
            <OpusPreview Opus="op" />
        }
    </div>
</div>