@page "/OpusList"

@inject ApplicationDbContext DbContext

<PageTitle>Werkeliste</PageTitle>

<div>
    <div class="text">
        <Markdown FileName="operaIntro.md"/>
    </div>
    <DynamicListPreview FullList="DbContext.Opera.Cast<Data.IDbEntry>().ToList()"/>
</div>