@page "{id:int?}"
@model OpusModel
@{
    Model.Opus.InitalizeWithDbContext(Model.DbContext);
    ViewData["Title"] = Model.Opus.Title;
    ViewData["Description"] = "Lesen Sie mehr über " + ViewData["Title"];
}

<div class="opus">
    @if (Model.Opus.Kind == Opus.Type.Painting) {
        //TODO: Painting
        <hr class="separator"/>
    }
    <h1>@Model.Opus.Title</h1>
    <h2>@Model.Opus.Creator.CommonName</h2>
    <hr class="separator"/>
</div>